{
    "root": true,
    "rules": {
        "strict": 0,
        "no-console": 0,
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "comma-dangle": [
            "error",
            "always-multiline"
        ]
    },
    "env": {
        "browser": true,
        "node": true
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2018
    },
    "extends": "eslint:recommended",
    "ignorePatterns": [
        "**/*.scss" // reported `Unexpected character '@'` for scss files
    ],
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"]
}
